#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: #007bff !important;
    position: fixed !important;
    z-index: 999999 !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 3px !important;
}

#nprogress .peg {
    display: block !important;
    position: absolute !important;
    right: 0px !important;
    width: 100px !important;
    height: 100% !important;
    box-shadow: 0 0 10px #007bff, 0 0 5px #007bff !important;
    opacity: 1.0 !important;
}

#nprogress .spinner {
    display: none !important;
}
